<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        <%=appname %>
    </title>

    <link rel="shortcut icon" href="http://static.mlstatic.com/org-img/ui/ml/favicon/favicon-1.0.0.ico"/>

    <% if (includeChico) { %>
    <!-- build:js scripts/vendor/mobile-detect.js -->
    <script src="/bower_components/mobileDetect/mobile-detect.js"></script>
    <!-- endbuild -->
    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        if (md.mobile()) {
            document.write('<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/mobile/1.1.1/chico.min.css">');
        } else {
            document.write('<link rel="stylesheet" href="http://static.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.css">');
        }
    </script>
    <% } %>

    <!-- build:css styles/main__small.min.css -->
    <link rel="stylesheet" href="styles/main__small.css">
    <!-- endbuild -->
    <!-- build:css styles/main__medium.min.css -->
    <link rel="stylesheet" href="styles/main__medium.css">
    <!-- endbuild -->
    <!-- build:css styles/main__large.min.css -->
    <link rel="stylesheet" href="styles/main__large.css">
    <!-- endbuild -->

    <!-- build:css styles/main.min.css -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="styles/main.css">
    <![endif]-->
    <!-- endbuild -->
</head>

<body>

    <div class="hero-unit">
        <img src="images/yeoman.png">
        <h1>You're ready to develop a MeLi plugin!</h1>
        <p>You now have:</p>
        <ul>
            <li>Gulp to handle tasks</li><% if (includeChico) { %>
            <li>Chico</li><% } %><% if (includeSass) { %>
            <li>Sass</li>
            <li>Bourbon</li><% } %>
            <li>CSS Autoprefixer</li>
            <li>Image optimization</li>
            <li>BrowserSync for multi-device testing</li>
        </ul>
        <small><a href="###">Read the docs</a></small>
    </div>

    <% if (includeChico) { %>
    <!-- build:js scripts/vendor/jquery.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbuild -->
    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        if (md.mobile()) {
            document.write("<script src='http://static.mlstatic.com/org-img/ch/mobile/1.1.1/chico.min.js'>");
        } else {
            document.write("<script src='http://static.mlstatic.com/org-img/ch/ui/1.1.1/chico.min.js'>");
        }
    </script>
    </script>
    <% } %>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>
